:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --hospital-green-darker: #81a486;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  height: 100%;
}
.logo {
  width: 200px;
  margin-bottom: 48px;
  justify-self: center;
}
@media (min-width: 768px) {
  .logo {
    display: none;
  }
}
.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}
.title-account {
  text-align: left;
  margin-bottom: 36px;
}
.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.label {
  font-size: var(--sm);
  font-weight: 700;
  margin-bottom: 4px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.form div {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form {
    justify-content: initial;
  }
  .form-container {
    height: auto;
  }
}
.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}
.input-name,
.input-email,
.input-password {
  margin-bottom: 22px;
}
.primary-button {
  background-color: var(--hospital-green);
  border: none;
  border-radius: 8px;
  color: white;
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: 700;
  height: 50px;
  margin-bottom: 30px;
}
.primary-button:hover {
  background-color: var(--hospital-green-darker);
}
.secondary-button {
  background-color: var(--white);
  border: 1px solid var(--hospital-green);
  border-radius: 8px;
  color: var(--hospital-green);
  cursor: pointer;
  font-size: var(--md);
  font-weight: 700;
  height: 50px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  width: 300px;
}
@media (min-width: 768px) {
  .secondary-button {
    width: 100%;
    position: initial;
  }
}

.login-button,
.save-button {
  margin-top: 14px;
  margin-bottom: 30px;
}

.email-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  justify-self: center;
}
.email-image img {
  width: 80px;
}
.resent {
  font-size: var(--sm);
  text-align: center;
}
.resent span {
  color: var(--very-light-pink);
}
.resent a {
  color: var(--hospital-green);
  text-decoration: none;
}
.forgot-password {
  color: var(--hospital-green);
  text-decoration: none;
  text-align: center;
  font-size: var(--sm);
  margin-bottom: 54px;
}
.value {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin: 8px 0 32px 8px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  gap: 26px;
  place-content: center;
}
.product-card {
  width: 140px;
}
.product {
  width: 140px;
  height: 140px;
  border-radius: 14px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 240px);
  }
  .product-card {
    width: 240px;
  }
  .product {
    width: 240px;
    height: 240px;
  }
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-info figure img {
  width: 35px;
  height: 35px;
}
.product-info figure {
  width: 35px;
  height: 35px;
  margin: 0;
}
.product-info div p:nth-child(1) {
  font-weight: 700;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin: 0;
  color: var(--very-light-pink);
}
.desktop-menu {
  width: 100px;
  height: auto;
  border-radius: 6px;
  border: 1px solid var(--very-light-pink);
  padding: 20px 20px 0 20px;
}
.desktop-menu ul,
.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 24px 0 0 0;
}
.menu-elemento {
  text-align: end;
}
.menu-elemento:last-child {
  border-top: 1px solid var(--very-light-pink);
  padding-top: 20px;
}
.menu-elemento:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
  font-weight: 400;
}
.menu-elemento a {
  text-decoration: none;
  color: var(--black);
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 700;
}
.mobile-menu {
  padding: 24px;
}
.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  display: inline-block;
  margin-bottom: 24px;
}
.mobile-menu .mobile-email {
  font-size: var(--sm);
  font-weight: 300;
  margin: 0 0 12px 0;
}
.mobile-menu .mobile-signout {
  font-weight: 300;
  font-size: var(--sm);
  color: var(--hospital-green);
  margin: 0;
  margin-bottom: 48px;
}
.categorias-mobile {
  border-bottom: 1px solid var(--very-light-pink);
}
.data-mobile {
  position: absolute;
  bottom: 0;
}
.my-order {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.title-order {
  font-size: var(--lg);
  margin-bottom: 40px;
}
.my-order-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.my-order-content {
  display: flex;
  flex-direction: column;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order_clase10 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}
.order p:nth-child(1),
.order_clase10 p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p:nth-child(2),
.order_clase10 p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.order p span:nth-child(1),
.order_clase10 p span:nth-child(1) {
  font-size: var(--md);
  font-weight: 700;
}
.order p span:nth-child(2),
.order_clase10 p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart-fin {
  grid-template-columns: auto 1fr auto auto;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.logo-navbar {
  width: 150px;
}
.menu_nav,
.navbar-left {
  display: flex;
}
.menu_nav {
  justify-content: space-between;
  padding: 0 24px;
  margin: 0;
  border-bottom: 1px solid var(--very-light-pink);
}
.navbar-left ul {
  display: none;
}

@media (min-width: 768px) {
  .navbar-left ul {
    margin: 0 12px;
  }
  .navbar-left ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }
  .navbar-left ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
  }
  .navbar-left ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
}
.navbar-right ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-right ul {
  margin: 0;
}
@media (min-width: 768px) {
  .menu {
    display: none;
  }
}

.navbar-email {
  display: none;
}
@media (min-width: 768px) {
  .navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
  }
}

.navbar-shoppingcart {
  position: relative;
}
.navbar-shoppingcart div {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
}
.product-info-c12 {
  margin: 24px 24px 0 24px;
}
.product-info-c12 p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info-c12 p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}
.product-info-c12 p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-detail {
  width: 100%;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
}
@media (min-width: 768px) {
  .product-detail {
    width: 360px;
  }
}
.product-detail-img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.product-detail-cerrar {
  background-color: var(--white);
  width: 14px;
  height: 14px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 24px;
  left: 24px;
  padding: 12px;
  border-radius: 50%;
}
.tittle-shopping-cart {
  text-align: left;
}
.header-shopping-cart {
  display: flex;
  gap: 24px;
}
.header-shopping-cart img {
  transform: scaleX(-1);
}
